:root {
  /* Colors */
  --primary-initial: #EAB308;
  --primary-hover: #FEC71C;
  --primary-pressed: #CC9500;

  --primary-initial-menu-button: #FFDD55;

  --secondary-initial: #2581EB;
  --secondary-hover: #439FFF;
  --secondary-pressed: #0763CD;

  --background-color-transparent: #00000020;
  --background-color-input-border: #F1F1F1;

  /* Fonts */
  --font-inter-regular: 'Inter', sans-serif;
  --font-inter-medium: 'Inter', sans-serif;
  --font-inter-semi-bold: 'Inter', sans-serif;
  --font-inter-bold: 'Inter', sans-serif;
  --font-jura-bold: 'Jura', sans-serif;

  /* Font color */
  --font-blue: #1F2937;
  --font-black: #1E1E1E;
  --font-white: #FFFFFF;
  --font-placeholder: #A7A7A7;
}